<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="AppSettings">
    <Parameter Name="AppInsights" Value="8985afb4-4efb-40bc-b0f4-e37955327bd2" />
    <Parameter Name="SubscriptionId" Value="" MustOverride="true" />
    <Parameter Name="ResourceGroupName" Value="" MustOverride="true" />
    <Parameter Name="ClusterName" Value="" MustOverride="true" />
    <Parameter Name="StorageName" Value="" MustOverride="true" />
    <Parameter Name="TenantId" Value="" MustOverride="true" />
    <Parameter Name="AzureADServicePrincipal" Value="" MustOverride="true" IsEncrypted="true" />
    <Parameter Name="BasicAuth" Value="" MustOverride="true" />
  </Section>
  <Section Name="MessageClusterActorServiceReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="MessageClusterActorServiceReplicatorEndpoint" />
    <Parameter Name="BatchAcknowledgementInterval" Value="0.005" />
  </Section>
  <Section Name="MessageClusterActorServiceReplicatorSecurityConfig">
    <Parameter Name="CredentialType" Value="None" />
  </Section>
  <Section Name="VmssManagerActorServiceReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="VmssManagerActorServiceReplicatorEndpoint" />
    <Parameter Name="BatchAcknowledgementInterval" Value="0.005" />
  </Section>
  <Section Name="VmssManagerActorServiceReplicatorSecurityConfig">
    <Parameter Name="CredentialType" Value="None" />
  </Section>
  <Section Name="QueueManagerActorServiceReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="QueueManagerActorServiceReplicatorEndpoint" />
    <Parameter Name="BatchAcknowledgementInterval" Value="0.005" />
  </Section>
  <Section Name="QueueManagerActorServiceReplicatorSecurityConfig">
    <Parameter Name="CredentialType" Value="None" />
  </Section>
  <Section Name="DispatcherManagerActorServiceReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="DispatcherManagerActorServiceReplicatorEndpoint" />
    <Parameter Name="BatchAcknowledgementInterval" Value="0.005" />
  </Section>
  <Section Name="DispatcherManagerActorServiceReplicatorSecurityConfig">
    <Parameter Name="CredentialType" Value="None" />
  </Section>
  <Section Name="TopicManagerActorServiceReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="TopicManagerActorServiceReplicatorEndpoint" />
    <Parameter Name="BatchAcknowledgementInterval" Value="0.005" />
  </Section>
  <Section Name="TopicManagerActorServiceReplicatorSecurityConfig">
    <Parameter Name="CredentialType" Value="None" />
  </Section>
</Settings>